.main {
    flex: 1;
    /* padding: 10px; */

    .card {
        display: flex;
        max-height: 100%;
        overflow: hidden;
        flex-direction: column;

        .list {
            flex: 1;
            max-height: 100%;
            overflow: hidden;

            .p-menubar {
                border: 0px!important;
            }

            .p-datatable-header {
                padding: 0px!important;
            }

            .actions-header > .p-column-header-content {
                justify-content: flex-end;
            }
        }

        .action-button {
            width: 2rem;
            height: 2rem;
        }
    }
}
